<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<form action="{% url 'signup' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
    Enter Name:<input type="text" placeholder="Your name" name="name" value=""/><br>
     Gender :<select name="gen">
  <option value="m">Male</option>
  <option value="f">Female</option>
</select><br>
    Enter Age:<input type="text" placeholder="Age" name="age" value=""/> <br>
    Enter Adress:<input type="text" placeholder="Email" name="adress" value=""/><br>
    Enter City:<input type="text" placeholder="City" name="city" value=""/><br>
    Enter Contact No:<input type="text" placeholder="Contact" name="contact" value=""/><br>
	Enter Username:<input type="text" placeholder="Username" name="username" value=""/><br>
    Enter Password:<input type="password" placeholder="password" name="password" value=""/><br>
    <input type="submit" name="Login" value="Sign Me Up..!"/><br>
</form>

</body>
</html>