<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<form action="{% url signup %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
    <input type="text" placeholder="Username" name="name" value=""/>Enter Name:
     <select>
  <option value="m">Male</option>
  <option value="f">Female</option>
</select>
    <input type="text" placeholder="Age" name="age" value=""/>Enter Age:
    <input type="text" placeholder="Email" name="adress" value=""/>Enter Adress:
    <input type="text" placeholder="City" name="city" value=""/>Enter City:
    <input type="text" placeholder="Contact" name="contact" value=""/>Enter Contact No:
	<input type="text" placeholder="Username" name="username" value=""/>Enter Username:
    <input type="password" placeholder="password" name="password" value=""/> Enter Password:
    <input type="submit" name="Login"/>
</form>

</body>
</html>