<!DOCTYPE html>
<html>
    <head>
        <title>MJ</title>
    </head>

    <body>
            <a href="{% url 'login' %}">Login Here OR</a><br />
        <h1>Register with MJ</h1>

        {% if registered %}
        MJ says: <strong>thank you for registering!</strong>
{#        <a href="{% url 'index' %}">Return to the homepage.</a><br />#}
        {% else %}
        MJ says: <strong>register here!</strong><br />

        <form id="user_form" method="post" action="{% url 'register' %}"
                enctype="multipart/form-data">

            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
    </body>
</html>

